@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  :root {
    --background: 0 0% 94.1%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 0 0% 20%;
    --primary-foreground: 0 0% 94.1%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 40%;
    --accent: 207 90% 67.8%;
    --accent-foreground: 0 0% 100%;
    --pink-accent: 340 92% 60%;
    --violet-accent: 270 90% 65%;
    --orange-accent: 27 87% 67%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 87%;
    --input: 0 0% 87%;
    --ring: 207 90% 67.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --background: 0 0% 10.2%;
    --foreground: 0 0% 94.1%;
    --card: 0 0% 16.5%;
    --card-foreground: 0 0% 94.1%;
    --popover: 0 0% 10.2%;
    --popover-foreground: 0 0% 94.1%;
    --primary: 0 0% 94.1%;
    --primary-foreground: 0 0% 10.2%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 94.1%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 60%;
    --accent: 207 90% 67.8%;
    --accent-foreground: 0 0% 10.2%;
    --pink-accent: 340 92% 60%;
    --violet-accent: 270 90% 65%;
    --orange-accent: 30 80% 55%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 207 90% 67.8%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .clip-decagon {
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
  }
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
  
  .glitch {
    @apply relative cursor-pointer z-10;
  }
  .glitch:before,
  .glitch:after {
    content: attr(data-text);
    @apply absolute inset-0 w-full h-full;
    @apply bg-background;
    @apply bg-clip-text text-transparent;
    opacity: 0;
  }
  .glitch:hover:before {
    @apply animate-glitch-1;
    left: 2px;
    text-shadow: -2px 0 hsl(var(--violet-accent));
    opacity: 1;
  }
  .glitch:hover:after {
    @apply animate-glitch-2;
    left: -2px;
    text-shadow: -2px 0 hsl(var(--accent)), 2px 2px hsl(var(--pink-accent));
    opacity: 1;
  }
}
